# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
venv/ # Atau nama folder environment virtual Anda

# Data & Models (yang bisa dihasilkan atau terlalu besar)
data/bisindo_landmarks.csv # Hasil ekstraksi landmark bisa besar
# models/bisindo_landmark_classifier.h5 # Uncomment jika model terlalu besar dan akan diunggah via Git LFS

# Log aktivitas
activity_logs/
